<?xml version="1.0"?>
<launch>
    <arg name="cmd-bash" default="gnome-terminal --command"/>

    <node name="matematico" pkg="interaccion" type="matematico_nodo.py" launch-prefix="$(arg cmd-bash)"/>
    <node name="informacion" pkg="interaccion" type="informacion_personal_nodo.py" launch-prefix="$(arg cmd-bash)"/>
    <node name="posicion" pkg="interaccion" type="posicion_usuario_nodo.py" launch-prefix="$(arg cmd-bash)"/>
    <node name="emocion" pkg="interaccion" type="emocion_usuario_nodo.py" launch-prefix="$(arg cmd-bash)"/>
    <node name="empaquetador" pkg="interaccion" type="empaquetador_nodo.py" output="screen"/>
    <node name="dialogo" pkg="interaccion" type="dialogo_nodo.py" launch-prefix="$(arg cmd-bash)"/>
</launch>
